<!DOCTYPE html>
<html  ng-app="ToDo">
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<style >
	.done{text-decoration: line-through;color:#ccc;}
	h1{
		text-align: center;
	}
  #f1
   {
   	padding-left: 50px;
   	padding-right:50px;
   }
   body
   {
   	background-color:#66ccff;
   }
</style>
</head>
<h1 >TO Do List</h1><br /><br />
<body >
<div id="f1>"
<div ng-controller="todocontroller">
	<form name="todo" ng-submit="addTodo()">
     <input type="text" name="text" ng-model="Todonew" required/>
     <button ng-disabled="todo.$invalid">Submit  </button><br /><br /><br /><br />

	</form>
<button ng-click="clearlist()">clear list</button><br /><br /><br /><br />
<ul>
<li ng-repeat="todo in todos ">
	<input type="checkbox" ng-model="todo.done"/>
	<span ng-class="{'done':todo.done}"> {{todo.title}} </span>

</li>

</ul>
</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script>

angular.module('ToDo',[]).
controller( 'todocontroller',[ '$scope',function($scope){

$scope.todos = [  {'title' :'build a app to do','done':false}
];

$scope.addTodo=function(){

$scope.todos.push({'title': $scope.Todonew,'done':false})
$scope.Todonew=' '

}
$scope.clearlist=function(){


$scope.todos = $scope.todos.filter(function(item){
   return !item.done

})

}





}])
</script>
</body>
</html>